<a href="https://colab.research.google.com/github/shaiban01/Projrct/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

 we import pandas as follows

In [0]:
import pandas as pd

Insert csv and text file

In [2]:
import pandas as pd
df=pd.read_csv()#Enter a path to a file,URL,(including http, ftp, and  locations),

TypeError: ignored

In [28]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=7)
df = pd.DataFrame(np.random.randn(7, 4),
                   index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01 -1.410830 -0.803818 -0.562346 -0.208190
2000-01-02 -1.326278 -1.528066  0.424585  0.216488
2000-01-03 -1.573019  1.438638  0.969528 -0.984076
2000-01-04 -1.040601 -0.554197  0.130198 -0.005332
2000-01-05 -2.595959 -0.526549 -0.205453  1.025349
2000-01-06  0.418731  0.323344 -0.615373  0.788649
2000-01-07 -1.055913  0.998309  0.256012 -1.201292

In [29]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=7)
df = pd.DataFrame(np.random.randn(7, 4),
                   index=dates, columns=['A', 'B', 'C', 'D'])
s=df['A']
print(s)

2000-01-01    2.766366
2000-01-02   -0.611707
2000-01-03   -0.653039
2000-01-04   -1.685125
2000-01-05    1.111169
2000-01-06    0.963195
2000-01-07    1.114622
Freq: D, Name: A, dtype: float64

In [30]:
import pandas as pd
dates = pd.date_range('1/1/2000', periods=10)
print(dates)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [39]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=7)
df = pd.DataFrame(np.random.randn(7, 4),
                   index=dates, columns=['A', 'B', 'C', 'D'])
df

df[['B', 'A']] = df[['A', 'B']]
df

                   A         B         C         D
2000-01-01 -0.511117 -0.574289 -0.786242 -1.206041
2000-01-02  1.687967  0.093141 -1.598462 -0.799061
2000-01-03  1.286381  0.796079 -1.542750 -1.421429
2000-01-04 -1.395615  0.734709  1.599523 -1.350501
2000-01-05 -0.593843 -1.568293  0.762363  0.606229
2000-01-06 -1.670277 -1.080862  0.553759 -1.351316
2000-01-07  0.320234 -0.875427  1.023008 -0.858378

In [40]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=7)
df = pd.DataFrame(np.random.randn(7, 4),
                   index=dates, columns=['A', 'B', 'C', 'D'])

df[['A', 'B']]

                   A         B
2000-01-01 -1.331435 -0.628969
2000-01-02  1.048229 -0.550039
2000-01-03  1.068826 -0.203848
2000-01-04  0.557016  1.216893
2000-01-05  0.096879 -1.794113
2000-01-06  0.031969 -0.644693
2000-01-07 -2.612186  1.276207

In [41]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=7)
df = pd.DataFrame(np.random.randn(7, 4),
                   index=dates, columns=['A', 'B', 'C', 'D'])

df[['B', 'A']]

                   B         A
2000-01-01  0.166908 -0.011235
2000-01-02  0.013956 -0.445204
2000-01-03  1.141925  2.033144
2000-01-04  0.816871  0.297238
2000-01-05 -0.430978  1.099183
2000-01-06  0.842892 -1.330516
2000-01-07 -1.791877  0.939007